@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');



body{
    background-color: #030406;
    color: #10151B;
}

/* Dividers */

.short{
    border: 0;
    height: 3px;
    background-color: #0E3449;
    width: 75%;
    text-align: center;
}

/* Containers */

.callout-container{
    height: 30em;
    width: 100%;
    position: relative;

    background-image: url("../images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;


    display: flex;
    justify-content: center;
    align-items: center;

}

.services-container{
    margin-top: 10px;
    height: 25em;
    width: 100%;

    font-family: "Source Sans 3", sans-serif;

    display: flexbox;
    justify-content: space-evenly;

    color: #E6E8E6;
}

.detailed-services-container{
    margin-top: 10px;
    height: 85em;
    width: 100%;

    font-family: "Source Sans 3", sans-serif;

    display: flexbox;
    justify-content: center;
    

    color: #E6E8E6;
}

.testimonials-container{
    margin-top: 10px;
    height: 25em;
    width: 100%;
    text-align: center;

    font-family: "Source Sans 3", sans-serif;

    background-color: #9C072C;
    display: flexbox;
    justify-content: space-evenly;

    color: #E6E8E6;
}

.footer-container{
    height: 5em;
    width: 100%;
    background-color: #030406;
}

.about-header-container{
    height: 15em;
    width: 100%;
    position: relative;

    background-image: url("../images/about-hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;


    display: flex;
    justify-content: center;
    align-items: center;
}

/* Text */

.text-center{
    text-align: center;
}

/* Nav */

#logo-img{
    height: 50px;
    width: 200px;
}

#logo{
    color: #E6E8E6;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    font-size: 150%;
}

.navbar .nav-link{
    color: #E6E8E6;
    font-family: "Oswald", sans-serif;
    font-size: 120%;
}

.bg-dark{
    background-color: #030406 !important;
}

.navbar a{
    transition: all 0.35s ease-in-out;
    
}


/* Callout */

.jumbotron{
    
    background-color: rgba(256,256,256,0.2);
    height: 70%;
    width: 80%;

    position: absolute;
    text-align: center !important;

    display: flexbox;
    justify-content: center;
    align-items: center;
}

.jumbotron-header{
    color: #E6E8E6;
    font-family: "Oswald", sans-serif;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.jumbotron-text{
    color: #E6E8E6;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
}

.mark{
    color: #030406;
    border-radius: 5px;
    background-color: #E6E8E6;
    padding: 1px 2px;
}

.jumbotron .buttons{
    margin: 0 5px; 
    font-family: "Source Sans 3", sans-serif;
    font-weight: bold;
}

.btn-warning{
    background-color: #9C072C;
    border-color: #9C072C;
    color: #E6E8E6;
}

.btn-warning:hover{
    background-color: #E6E8E6;
    border-color: #E6E8E6;
    color: #030406; 
}

.btn-success{
    background-color: #C8963E;
    border-color: #C8963E;
    color: #E6E8E6;
}

.buttons{
    transition: all 0.35s ease-in-out;
}

.btn-success:hover{
    background-color: #E6E8E6;
    border-color: #E6E8E6;
    color: #030406;
}

/* Services */

.services-container-header{
    font-family: "Oswald", sans-serif;
    margin: 5px 0;
    letter-spacing: 1px;
}

.services-header{
    clear:both;
    display: block;
    margin: 5px 0;

    font-family: "Oswald", sans-serif;
}

.services .services-text{
    text-align: left;
}


.services-image{
    margin: 5px 0;
    height: 100px;
    width: 150px;
    border-radius: 25%;
   
}

/* Testimonials */

.testimonial{

    text-align: center;
    width: 100%;
}

.testimonials-header{
    clear:both;
    display: block;
    margin: 5px 0;

    font-family: "Oswald", sans-serif;
}

.testimonials-container-header{
    margin: 5px 0;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
}

.testimonials-image{

    margin: 5px 0;
    height: 100px;
    width: 150px;
    border-radius: 25%;
    border: 2px solid rgba(0,0,0,0.2);
    
}

.testimonials-quote{
    text-align: center;
    
}

/* Footer */

.social-links{
    margin-top: 20px;
    text-align: right;
    margin-right: 10px;
}

.social-links a{
    font-size: 150%;
    color: #E6E8E6;

    transition: all 0.35s ease-in-out;
}

.social-links a:hover{
    color: #C8963E;
}


/* About Page */

.about-jumbotron{
    
    background-color: rgba(256,256,256,0.2);
    height: 70%;
    width: 60%;

    position: absolute;
    text-align: center !important;

    display: flexbox;
    justify-content: center;
    align-content: center;
}

.badge-danger{
    background-color: #C8963E;
}

.services-house{
    justify-content: center;
}

#houses-map{
    width: 60%;
    height: 20em;
}

/* FAQ */

.faq-container{
    margin-top: 10px;
    height: 40em;
    width: 100%;
    text-align: center;

    font-family: "Source Sans 3", sans-serif;

    background-color: #9C072C;
    color: #E6E8E6;
}


.faq-container-header{
    margin: 10px 0;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
}

#FAQ .card{
    background-color:#E6E8E6;
    border: 1px solid #E6E8E6;
    color:#030406;
    font-family: "Source Sans 3", sans-serif;
    font-size: 120%;
    width: 70%;

    margin: 0 auto;
}

#FAQ .btn{
    font-family: "Oswald", sans-serif;
    font-size: 80%;
    background-color:#0E3449;
    color:#E6E8E6;
}

/* Contact */

.contact-header-container{
    height: 15em;
    width: 100%;
    position: relative;
    font-size: 140%;
    font-weight: 400;
    
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("../images/contact-header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;



    display: flex;
    justify-content: center;
    align-items: center;
}


.contact-container{
    
    position: relative;

    background-image: url("../images/contact-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
    display: flex;
    padding-top: 30px;
    height: 30em;
    width: 100%;
    text-align: left;
    justify-content: center;

    font-family: "Source Sans 3", sans-serif;
    font-size: 140%;

    background-color: #030406;
    color: #030406;
}

.contact-form{
    width: 80%;
    height: 25em;

    background-color: rgba(230, 232, 230, 0.6);
    border-radius: 20px;

}

.contact-form .form-group{
    margin: 1rem;
}

.contact-form .form-check{
    margin-right: 2rem;
}

.contact-label{
    font-weight: bold;
    color:#0E3449;
    background-color:#E6E8E6;
    border-radius:5px;
    margin-bottom: 5px;
}

.contact-form .form-submit{
    width: 100%;
    text-align: center;
}

.contact-form .buttons{
    margin: 0 5px; 
    font-family: "Source Sans 3", sans-serif;
    font-weight: bold;
    font-size:120%;
    padding: 10px;
}






/* Media Queries */

@media (min-width: 1440px){
    #houses-map{
        width: 60%;
        height: 45em;
    }

    
}

@media (min-width: 1024px){
    
    #FAQ .card{
        width: 70%;
    }

    .jumbotron {
        font-size: 130%;
    }
    
    .jumbotron-header{
        font-size: 200%;
    }

    .services, .testimonials{
        font-size: 120%;
    }

    #houses-map{
        width: 60%;
        height: 25em;
    }


    .contact-form{
        width: 80%;
        height: 20em;
    }
    
    .contact-container{
        height: 23em;
    }
}

@media (min-width: 768px){
    
    #FAQ .card{
        width: 90%;
    }

    .jumbotron-md{
        height: 60%;
        width: 50%;
    }
    
    .jumbotron .buttons{
        font-size: 120%;
    }

    .services{
        max-width: 60%;
    }

    #houses-map{
        width: 60%;
        height: 25em;
    }
}



@media (max-width: 767px){
    
    .faq-container{
        height: 30em;
    }

    #FAQ .card{
        width: 90%;
        font-size: 90%;
    }

    #FAQ .btn{
        font-size: 60%;
    }

    .callout-container{
        height: 25em;
    }

    .detailed-services-container{
        height: 120em;
    }

    .services-container{
        height: 55em;
    }

    .testimonials-container{
        height: 45em;
    }

    .faq-container{
        height: 55em;
    }

    .services{
        max-width: 90%;
        align-items: center;
        margin: 0 auto;
    }

    .services-image{
        margin-top: 5px;
    }

    #houses-map{
        width: 100%;
        height: 30em;
    }

}

@media (max-width: 426px){
    .detailed-services-container{
        height: 115em;
    }

    .contact-form{
        width: 95%;
        height: 33em;
    }
    
    .contact-container{
        height: 35em;
    }
}

@media (max-width: 376px){
    .jumbotron{
        width: 90%;
    }

    .jumbotron .buttons{
        margin-bottom: 5px;
    }

    .detailed-services-container{
        height: 125em;
    }



}

@media (max-width: 374px){

    .detailed-services-container{
        height: 130em;
    }

    .contact-form{
        width: 95%;
        height: 33em;
    }
    
    .contact-container{
        height: 35em;
    }
}